/* Debug borders */
p, li, dt, dd, div, pre, h1, h2, h3, h4, h5, h6 {
/*
  border: 1px solid red;
*/
}

body {
  margin: 1em 5%;
}

a {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: fuchsia;
}

em {
  font-style: italic;
  color: navy;
}

strong {
  font-weight: bold;
  color: #083194;
}

tt {
  color: navy;
}




h1, h2, h3 {
   color: #527bbd;
   font-family: sans-serif;
}

header {
   h1 {
      padding: 0.5em 0;
      border-top: 2px solid silver;
      border-bottom: 2px solid silver;
   }
}

pre {
  border: 1px solid silver;
  background: #f4f4f4;
  padding: 0.5em;
}

section {
   margin-left: 5%;
   h1, h2, h3 {
     margin-left: -5%;
   }
}

/*
p, pre, dl, ul, ol, table {
  margin-left: 3em;
}
*/
