// This SASS stylesheet ...

@import 'foundation-3.2.5-generated';



$nisp-header-color: #005a9c;
$footertext-color: #0a84c1;
$link-color: #0a84c1;

$topbar-bgcolor: #222;
$topbar-color: #fff;

$draft-bgcolor: #ff0;
$draft-color: #000;


@import 'general_foundicons';


// NISP specific styles

.foundicon-left-arrow,
.foundicon-right-arrow,
.foundicon-up-arrow,
.foundicon-home {
  font-size: 1.6em;
}


// Generic styles

ul,
ol {
  list-style-position: outside;
  list-style-type: square;
  margin-left: 3em;
}


dt {
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

dd {
  margin: 0;
  margin-left: 2em;
  padding-bottom: 1em;
  padding-top: 0;
}


body {
  font-family: "liberation sans", "Myriad ", "Bitstream Vera Sans", "Lucida Grande", "Luxi Sans",
               "Trebuchet MS", helvetica, verdana, arial, sans-serif;
}


.book .titlepage {
  text-align: center;
}

.book-subtitle div,
.corpauthor div {
  color: $nisp-header-color;
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 2em;
}

.toc {
  padding-top: 1.5em;

  li {
    list-style-type: none;
  }

  .sect1 {
    padding-bottom: 20px;
  }

  a,
  a:link,
  a:visited {
    color: $link-color;
    font-weight: bold;
    text-decoration: none;
  }

}



header {
//    border-top: 5px solid #60AFD7;
  width: 100%;

  .columns {
    padding: 0;
  }

}

.nisp-lifecycle-stage {
  background: $draft-bgcolor;
  color: $draft-color;
  font-size: 1.3em;
  padding: 5px 0;
  text-align: center;
  width: 100%;
//    border: 2px solid black;
//    letter-spacing: 1.2em;
}

.nisp {
  background: $topbar-bgcolor;
  color: $topbar-color;
  font-size: 1.6em;
  padding: 5px 0 5px 20px;
}

.banner {
  background: $topbar-color url('../images/nisp-banner.jpg') no-repeat 25%;
  height: 180px;
}



#bottomhead {
  color: white;
//  background-color: #ffffff55;
  font-size: 2.6em;
  font-weight: bold;
  padding: 10px 30px 0;
  text-align: right;
}


.nav-container {
  background-color: $topbar-bgcolor;
  margin-bottom: 20px;
  width: 100%;

  .columns {
    padding: 0;
  }

}



.navheader,
.navfooter {
  table {
    border: 0;

    tbody {
      tr:nth-child(even) {
        background: inherit;
      }
    }
  }

  td[align="left"] {
    text-align: left;
  }

  td[align="center"] {
    text-align: center;
  }

  td[align="right"] {
    text-align: right;
  }

}


.top-bar section ul li.active a {
  background-color: #464646;
}


.classification {
  font-variant: small-caps;
  text-align: center;
  font-size: 1.2em;
  padding-top: 20px;
}


@mixin figure-mx {
  padding-top: 2em;
  padding-bottom: 2em;

  img {
    display: block;
    margin: 0 auto;
  }
}

.informalfigure {
  @include figure-mx;
}

.figure {
  @include figure-mx;
}


.table-title,
.figure-title {
  color: $nisp-header-color;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 1em;
  text-align: center;
}


h1,
h2,
h3,
h4,
h5,
.figure-title {
  color: $nisp-header-color;
}


// Small display targeting
@media only screen and (max-width: 767px) {
  h1 { font-size: 27px; }
  h2 { font-size: 27px; }

  .nisp-lifecycle-stage,
  .copyright {
    display: none;
  }

  footer {
    margin-top: 5px;
  }
}

.getpdf {
  margin-top: 20px;

  .btn {
    text-align: center;
  }
}

.pdffiles {
  ul {
    list-style: none;

    li {
      background: url('../images/pdf_icon_48.jpg') 0 0 no-repeat;
      padding: 10px 60px;
      padding-right: 0;
    }

  }

}

$footer-navborder: #ddd;

footer {
  color: $footertext-color;
  font-weight: normal;
  margin-top: 20px;
  padding-top: 10px;

  a:link,
  a:visited {
    color: $link-color;
    text-decoration: none;
  }

  .footernav {
    border-top: 1px solid $footer-navborder;
    padding-top: 20px;
    text-align: center;
  }

  a:hover {
    text-decoration: underline;
  }

  .copyright {
    color: $footertext-color;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: right;
  }
}


#acronyms {
  table {
    width: 100%;
  }

  .sub-nav {
    padding-top: 20px;
  }

  dd {
    padding: 2px 4px;
  }

  dd[class='active'] {
    background-color: $nisp-header-color;
    color: white;
  }
}
