/* Cascaded SryleSheets (CSS) for the NISP. Used by all volumes, acronyms and
   the masterpages.

*/


@import url("grids.css");


/* ------------------------------------------------------------------------- */
/*                       Styles for NC3TA Documents                          */
/* ------------------------------------------------------------------------- */

body, table {
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #013366;
}


a:link, a:visited, a:active {
	text-decoration: none;
	color: #6799CC;
}

a:hover  {
	text-decoration: none;
	color: #6799CC;
	font-weight: bold;
}



/* HEADER */

#taHeader {
	color: #013366;
	display: block;
}

#tophead {
	background: #6799cc;
	color: #FFF;
	padding-right: 5px;
	height: 31px;
	background-image: url(../images/cgey/logo_NATO-top.gif);
	background-repeat: no-repeat;
}

#bottomhead {
	background: #013366;
	background-image: url(../images/cgey/logo_NATO-bottom.gif);
	background-repeat: no-repeat;
	height: 31px;
}

#quickMenu {
	position: absolute;
	right: 30px;
	width: 210px;
	display: inline;
	padding-top: 9px;
}

#quickMenu a:link, #quickMenu a:visited, #quickMenu a:active {
	text-decoration: none;
	color: #FFF;
}

#quickMenu a:hover  {
	text-decoration: none;
	color: #013366;
}

#searchBox {
	position: absolute;
	right: 30px;
	width: 210px;
	display: inline;
	padding-top: 6px;
        color: #FFF;
}

#searchBox img {
	padding-left: 14px;
}

.invoerVeld {
	height: 16;
	width: 120px;
	margin-bottom: 4px;
        font-size: 10px;
}


/*  MENU BAR  */

#menubar {
	padding-left: 215px;	
        padding-top: 10px;
	background-image: url(../images/cgey/menu_strook.gif);
	background-repeat: repeat-x;
	height: 30px;
}

#menubar a {
	margin-right: 50px;
        color: #023469;
        font-size: 13px;
        font-weight: bold;
}


/* MAIN BODY (NAVIGATION BOX, CONTENTS, INFO BOX) */

#mainbody {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 224px;
}


#main {
  width: 100%;
}

#docbook {
  margin: 0 auto;
  width: 96%;  
}

#nav {
    margin-left: -220px;
    width: 220px;
}


#nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px;
}

#nav li {
	margin: 0;
}


#mainbody td {
	vertical-align: top;
	padding: 5px;
}

/* NAVIGATION BOX */

#taNavigationBox {
	margin: 0;
	padding: 0 3px;
}


#taNavigationBox ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px;
}

#taNavigationBox li {
	margin: 0;
}

.wNavigationBox {
	width: 195px;
}

#navHeader {
	font-size: 12px;
	font-weight: bold;
	color: #6799cc;
	margin-bottom: 16px;
}


/*
#navMenu {
	border-bottom: 1px solid blue;
}
*/

#navMenu li {
	border-top: 1px solid blue;
	padding: 0 0 2px 0;
}

#navMenu a:link, #navMenu a:visited, #navMenu a:active {
	text-decoration: none;
	color: #013366;
}

#navMenu a:hover  {
	text-decoration: none;
	color: #6799CC;
	font-weight: bold;
}

#navSubMenu {
	background-color: #E8F0F8;
	margin-top: 3px;
	border-top: 1px solid blue;
}

#navSubMenu li {
	border: 0px;
}


#navSubMenu a:link, #navSubMenu a:visited, #navSubMenu a:active {
	text-decoration: none;
	color: #6799CC;
        /* These anchor rules for navSubMenu should not be necessary, since
	   they are identical to the defaulr rules ???  */
}

#navSubMenu a:hover  {
	text-decoration: none;
	color: #6799CC;
	font-weight: bold;
}



/* CONTENTS */

#taContents {
	padding: 5px 0 0 6px;
/*
 padding-left: 6px;
	padding-top: 5px;*/
}

.classification {
	text-align: center;
	font-weight: bold;
}


.sectHeader {
	font-size: 14px;
	font-weight: bold;
}


/* INFO BOX */

#taInfoBox {
	background-color: #D9E5F2;
	border: 1px solid #013366;
	margin-left: 5px;
	margin-top: 5px;
	padding: 1px;
}

.wInfoBox {
	width: 156px;
}

#taInfoBox ul {
	list-style: none;
	margin: 0;
	padding: 2px;	
}

#taInfoBox li {
	margin-bottom: 10px;
}

li.pdf {
	border: 1px solid grey;
	padding: 2px 2px 4px 2px;
}

#taInfoBox span.h {
	font-weight: bold;
}

#taInfoBox a {
	display: block;
	clear: both;
}

#taInfoBox a:link, #taInfoBox a:visited, #taInfoBox a:active {
	text-decoration: none;
	color: #013366;
}


/* FOOTER */

#taFooter {
	margin: 0;
	padding: 9px 5px 0 0;
	height: 28px;
	text-align: right;
	background-image: url(../images/cgey/credit_strook.gif); 
	background-repeat: repeat-x;
	color: white;
}


#taFooter a:link, #taFooter a:visited, #taFooter a:active {
	text-decoration: none;
	color: #FFF;
}

a:hover  {
	text-decoration: none;
	color: #6799CC;
	font-weight: bold;
}


/* DocBook-XSL related styles */

.figure, .figure p.title {
  align: center;
  text-align: center;
}

.table p.title {
  text-align: center;
}

.classsification {
  text-align: center;
}

/* ------------------------------------------------------------------------- */
/*                        Styles for the master pages                        */
/* ------------------------------------------------------------------------- */




/* ------------------------------------------------------------------------- */
/*                            Styles for Acronyms                            */
/* ------------------------------------------------------------------------- */


#acrotop {
  height: 70px;
  color: #6799cc;
  font-family: Arial, Helvetica;
  padding-top: 10px;
}

div.letterBar {
  color: #6799cc;
  font-size: 120%;
  font-weight: bold;
  text-transform: uppercase;
}

.letterBar a  { 
  color: #6799cc; 
  text-decoration: none; 
  margin-left: 10px;
}

.letterBar a:hover { 
  color: #023469;
  font-weight: bold;
}

#acrofoot {
  padding-top: 10px;
  text-align: center;
  font-style: italic;
}

.acrotable {
  width: 613px;
  margin-top: 10px;
  padding-left: 10px;
}


.titlepage {
  width: 100%;
}
