@import url("reset.css");
@import url("base.css");


body {
    width : 960px;
    margin: 0 auto;
    font-family: verdana, sans-serif;
}

/* General */

h1, h2, h3, h4, h5 {
    color: #ec5800;
}

/*
h3, h4, h5 {
    color: #666;
}
*/

h1 {
    font-size: 1.4em;
}



h1, h2, h3 {
    font-weight: bold;
    margin-top: 2ex;
}


h2 {
    font-size: 1.2em;
    margin: 1.2em 0em;
}


h3 {
    font-size: 1.1em;
}


table {
    margin: 0 auto;
    border-collapse: collapse;
}


th, td {
    padding: 2px 3px;
}

.figure, .figure p.title {
    align: center;
    text-align: center;
}

.table p.title {
    text-align: center;
}

.classification {
    text-align: center;
    font-weight: bold;
}


div.informaltable table,
div.table-contents table {
    font-size: 76%;
}



/* Header */

#header {
    color: #013366;
    display: block;
}

#tophead {
    background: #6799cc;
    color: #FFF;
    padding-right: 5px;
    height: 31px;
    background-image: url(../images/logo_NATO-top.png);
    background-repeat: no-repeat;
}

#bottomhead {
    background: #013366;
    background-image: url(../images/logo_NATO-bottom.png);
    background-repeat: no-repeat;
    height: 31px;
    font-size: 110%;
    font-weight: bold;
    color: white;
    padding-left: 70px;
    vertical-align: middle;
}

#bottomhead span {
    display: block;
    margin: auto 0;
}

#quickMenu {
    float: right;
    margin-right: 10px;
    display: inline;
    padding-top: 8px;
}

#quickMenu a:link, #quickMenu a:visited, #quickMenu a:active {
    text-decoration: none;
    color: #FFF;
}

#quickMenu a:hover  {
    text-decoration: none;
    color: #013366;
}

/*  Menu Bar  */

#menubar {
    padding-left: 235px;	
    padding-top: 8px;
    padding-bottom: 10px;
    background-image: url(../images/menu_strook.gif);
    background-repeat: repeat-x;
}

#menubar a {
    text-decoration: none;
    margin-right: 50px;
    color: #023469;
    font-size: 13px;
    font-weight: bold;
}

#menubar a:hover {

}


div#container {
    clear: both;
    width: 960px;
    margin: 0 auto;
    border: 0;
    overflow: visible;
    background-image: url(../images/separator.png);
    background-repeat: repeat-y;
}

/* Navigation Bar */

#nav {
    float: left;
    width: 220px;
    font-size: 85%;
}

#nav  ul { 
    margin: 0;
    padding: 0;
}

#nav li {
    border-top: 1px solid blue;
    padding: 2px 0;
    list-style: none;
}

ul#navSubMenu {
    border-top: 1px solid blue;
}


ul#navSubMenu li {
    border-top: 0;
    padding: 2px 0;
    list-style: none;
}



li#menuhead {
    border-top: 0;
    font-size: 14px;
    color: #6799CC;
    font-weight: bold;
    padding-bottom: 12px;
    background-color: white;
}


#navSubMenu {
    background-color: #E8F0F8;
    margin-top: 3px;
}


#nav a:link, #nav a:visited {
    text-decoration: none;
    color: #6799cc;
}

#nav a:hover {
    color: gray;
}

/* NISP Content */


#docbook {
    float: right;
    width: 695px;
    margin: 0;
    padding: 0 15px 0 30px;
}

div.navheader th,
div.navheader td,
div.navfooter th,
div.navfooter td {
    border : 0;
}

div.navheader table,
div.navfooter table {
    margin-left: 0;
    border: 0;
}


/* Footer */

#footer {
    clear: both;
    width: 100%;
    height: 28px;
    padding: 7px 5px 0 0;
    text-align: right;
    background-image: url(../images/credit_strook.gif); 
    background-repeat: repeat-x;
    color: white;
    font-size: 11px;
}




#footer a:link, #footer a:visited  {
    color: white;
    text-decoration: none;
}

.clasification {
    clear: both;
}



ul[compact="compact"] ul[compact="compact"] {
    margin-top: 0;
    margin-bottom: 0;
}

ul[compact="compact"] p {
    -webkit-margin-before:0;
    -webkit-margin-after:0;
}


div.classification + div.navheader {
    padding-top: 2ex;
}

div.navfooter + div.classification  {
    padding-top: 2ex;
}



/* Acronyms */


div.letterBar {
    padding-top: 10px;
    color: #6799cc;
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
}

.letterBar a  { 
    color: #6799cc; 
    text-decoration: none; 
    margin-left: 10px;
}

.letterBar a:hover { 
    color: #023469;
}


#acrofoot {
    padding: 10px 0;
    text-align: center;
    font-style: italic;
}

#acrotable {
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
}

#acrotable td {
    border: 0;
}



table.blockquote td {
  border-width: 0px;
}

div.blockquote {
  margin-bottom: 20px;
]
