
/* Generics */

.classification {
    text-align: center;
    font-weight: bold;
}


ul, ol {
    list-style-position: disc outside;
    margin-left: 2em;
}

.table p.title {
    text-aling: center;
}

.figure, .figure p.title {
    align: center;
    text-align: center;
}


div.letterBar {
    padding-top: 10px;
    color: #6799cc;
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
}

.letterBar a  { 
    color: #6799cc; 
    text-decoration: none; 
    margin-left: 10px;
}

.letterBar a:hover { 
    color: #023469;
}



/* Header */

#tophead {
    background: #6799cc;
    background-image: url(../images/logo_NATO-top.png);
    background-repeat: no-repeat;
    height: 31px;
}

#quickbar {
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    height: 31px;}

#quickbar li {
    border: 0;
}

#bottomhead {
    background: #013366;
    background-image: url(../images/logo_NATO-bottom.png);
    background-repeat: no-repeat;
    height: 32px;
    border-bottom: 1px solid gray;
}

#bottomhead span {
    color: white;
    padding-left: 70px;
    padding-top: 5px;
    font-size: 140%;
    font-weight: bold;
    display: block;
}


span.inline {
   display: inline;
}


/* Sidebar navigation */

#nav  ul { 
    margin: 0;
    padding: 0;
}


#nav li {
    border-top: 1px solid blue;
    padding: 2px 0;
    list-style: none;
}

ul#navSubMenu {
    border-top: 1px solid blue;
}


ul#navSubMenu li {
    border-top: 0;
    padding: 2px 0;
    list-style: none;
}



li#menuhead {
    border-top: 0;
    font-size: 14px;
    color: #6799CC;
    font-weight: bold;
    padding-bottom: 12px;
    background-color: white;
}


#navSubMenu {
    background-color: #E8F0F8;
    margin-top: 3px;
}


#nav a:link, #nav a:visited {
    text-decoration: none;
    color: #6799cc;
}

#nav a:hover {
    color: gray;
}



/* DocBook navigation header and footers */

.navheader table, .navfooter table {
    border: 0;
}

.navheader td[align=center], .navfooter td[align=center] {
    text-align: center;
}

.navheader td[align=right], .navfooter td[align=right] {
    text-align: right;
}


/* Footer */

#footer {
    padding: 7px 5px 0 0;
    text-align: right;
    background-image: url(../images/credit_strook.gif);
    background-repeat: repeat-x;
    color: white;
    height: 28px;
}
