/* Requires: normalize.css */
/* Global Reset & Standards ---------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: white;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  color: #222222;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* Links ---------------------- */
a img {
  border: none;
}

a {
  color: #2ba6cb;
  text-decoration: none;
  line-height: inherit;
}

a:hover {
  color: #2795b6;
}

a:focus {
  color: #2795b6;
}

p a, p a:visited {
  line-height: inherit;
}

/* Misc ---------------------- */
.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

.hide-override {
  display: none !important;
}

.highlight {
  background: #ffff99;
}

#googlemap img, object, embed {
  max-width: none;
}

#map_canvas embed {
  max-width: none;
}

#map_canvas img {
  max-width: none;
}

#map_canvas object {
  max-width: none;
}

/* Reset for strange margins by default on <figure> elements */
figure {
  margin: 0;
}

/* The Grid ---------------------- */
.row {
  width: 1000px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}
.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}
.row.collapse .column, .row.collapse .columns {
  padding: 0;
}
.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}
.row .row.collapse {
  margin: 0;
}

.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}
.column.centered, .columns.centered {
  float: none;
  margin: 0 auto;
}

[class*="column"] + [class*="column"]:last-child {
  float: right;
}

[class*="column"] + [class*="column"].end {
  float: left;
}

.one, .row .one {
  width: 8.33333%;
}

.two, .row .two {
  width: 16.66667%;
}

.three, .row .three {
  width: 25%;
}

.four, .row .four {
  width: 33.33333%;
}

.five, .row .five {
  width: 41.66667%;
}

.six, .row .six {
  width: 50%;
}

.seven, .row .seven {
  width: 58.33333%;
}

.eight, .row .eight {
  width: 66.66667%;
}

.nine, .row .nine {
  width: 75%;
}

.ten, .row .ten {
  width: 83.33333%;
}

.eleven, .row .eleven {
  width: 91.66667%;
}

.twelve, .row .twelve {
  width: 100%;
}

.row .offset-by-one {
  margin-left: 8.33333%;
}

.row .offset-by-two {
  margin-left: 16.66667%;
}

.row .offset-by-three {
  margin-left: 25%;
}

.row .offset-by-four {
  margin-left: 33.33333%;
}

.row .offset-by-five {
  margin-left: 41.66667%;
}

.row .offset-by-six {
  margin-left: 50%;
}

.row .offset-by-seven {
  margin-left: 58.33333%;
}

.row .offset-by-eight {
  margin-left: 66.66667%;
}

.row .offset-by-nine {
  margin-left: 75%;
}

.row .offset-by-ten {
  margin-left: 83.33333%;
}

.push-two {
  left: 16.66667%;
}

.pull-two {
  right: 16.66667%;
}

.push-three {
  left: 25%;
}

.pull-three {
  right: 25%;
}

.push-four {
  left: 33.33333%;
}

.pull-four {
  right: 33.33333%;
}

.push-five {
  left: 41.66667%;
}

.pull-five {
  right: 41.66667%;
}

.push-six {
  left: 50%;
}

.pull-six {
  right: 50%;
}

.push-seven {
  left: 58.33333%;
}

.pull-seven {
  right: 58.33333%;
}

.push-eight {
  left: 66.66667%;
}

.pull-eight {
  right: 66.66667%;
}

.push-nine {
  left: 75%;
}

.pull-nine {
  right: 75%;
}

.push-ten {
  left: 83.33333%;
}

.pull-ten {
  right: 83.33333%;
}

img {
  height: auto;
}

img, object, embed {
  max-width: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img, .map_canvas img {
  max-width: none!important;
}

/* Nicolas Gallagher's micro clearfix */
.row {
  *zoom: 1;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

/* Block Grids ---------------------- */
/* These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */
.block-grid {
  display: block;
  overflow: hidden;
  padding: 0;
}
.block-grid > li {
  display: block;
  height: auto;
  float: left;
}
.block-grid.one-up {
  margin: 0;
}
.block-grid.one-up > li {
  width: 100%;
  padding: 0 0 15px;
}
.block-grid.two-up {
  margin: 0 -15px;
}
.block-grid.two-up > li {
  width: 50%;
  padding: 0 15px 15px;
}
.block-grid.two-up > li:nth-child(2n+1) {
  clear: both;
}
.block-grid.three-up {
  margin: 0 -12px;
}
.block-grid.three-up > li {
  width: 33.33333%;
  padding: 0 12px 12px;
}
.block-grid.three-up > li:nth-child(3n+1) {
  clear: both;
}
.block-grid.four-up {
  margin: 0 -10px;
}
.block-grid.four-up > li {
  width: 25%;
  padding: 0 10px 10px;
}
.block-grid.four-up > li:nth-child(4n+1) {
  clear: both;
}
.block-grid.five-up {
  margin: 0 -8px;
}
.block-grid.five-up > li {
  width: 20%;
  padding: 0 8px 8px;
}
.block-grid.five-up > li:nth-child(5n+1) {
  clear: both;
}
.block-grid.six-up {
  margin: 0 -8px;
}
.block-grid.six-up > li {
  width: 16.66667%;
  padding: 0 8px 8px;
}
.block-grid.six-up > li:nth-child(6n+1) {
  clear: both;
}
.block-grid.seven-up {
  margin: 0 -8px;
}
.block-grid.seven-up > li {
  width: 14.28571%;
  padding: 0 8px 8px;
}
.block-grid.seven-up > li:nth-child(7n+1) {
  clear: both;
}
.block-grid.eight-up {
  margin: 0 -8px;
}
.block-grid.eight-up > li {
  width: 12.5%;
  padding: 0 8px 8px;
}
.block-grid.eight-up > li:nth-child(8n+1) {
  clear: both;
}
.block-grid.nine-up {
  margin: 0 -8px;
}
.block-grid.nine-up > li {
  width: 11.11111%;
  padding: 0 8px 8px;
}
.block-grid.nine-up > li:nth-child(9n+1) {
  clear: both;
}
.block-grid.ten-up {
  margin: 0 -8px;
}
.block-grid.ten-up > li {
  width: 10%;
  padding: 0 8px 8px;
}
.block-grid.ten-up > li:nth-child(10n+1) {
  clear: both;
}
.block-grid.eleven-up {
  margin: 0 -8px;
}
.block-grid.eleven-up > li {
  width: 9.09091%;
  padding: 0 8px 8px;
}
.block-grid.eleven-up > li:nth-child(11n+1) {
  clear: both;
}
.block-grid.twelve-up {
  margin: 0 -8px;
}
.block-grid.twelve-up > li {
  width: 8.33333%;
  padding: 0 8px 8px;
}
.block-grid.twelve-up > li:nth-child(12n+1) {
  clear: both;
}

/* Base Type Styles Using Modular Scale ---------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-size: 16px;
  direction: ltr;
}

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 17px;
}
p.lead {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 17px;
}

aside p {
  font-size: 15px;
  line-height: 1.35;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: 16px;
  margin-top: 16px;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 16px;
}

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 22px 0 21px;
  height: 0;
}

.subheader {
  line-height: 1.3;
  color: #6f6f6f;
  font-weight: 300;
  margin-bottom: 17px;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  font-weight: bold;
  background: #ffff99;
}

/* Lists ---------------------- */
ul, ol, dl {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 17px;
  list-style-position: outside;
}

ul li ul, ul li ol {
  margin-left: 20px;
  margin-bottom: 0;
}
ul.square, ul.circle, ul.disc {
  margin-left: 17px;
}
ul.square {
  list-style-type: square;
}
ul.square li ul {
  list-style: inherit;
}
ul.circle {
  list-style-type: circle;
}
ul.circle li ul {
  list-style: inherit;
}
ul.disc {
  list-style-type: disc;
}
ul.disc li ul {
  list-style: inherit;
}
ul.no-bullet {
  list-style: none;
}
ul.large li {
  line-height: 21px;
}

ol {
  margin-left: 20px;
}
ol li ul, ol li ol {
  margin-left: 20px;
  margin-bottom: 0;
}

/* Blockquotes ---------------------- */
blockquote, blockquote p {
  line-height: 1.5;
  color: #6f6f6f;
}

blockquote {
  margin: 0 0 17px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #dddddd;
}
blockquote cite {
  display: block;
  font-size: 15px;
  color: #555555;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited {
  color: #555555;
}

abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px solid #dddddd;
  cursor: help;
}

abbr {
  text-transform: none;
}

/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
.print-only {
  display: none !important;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  .hide-on-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .hide-for-print {
    display: none !important;
  }

  .show-for-print {
    display: inherit !important;
  }
}
/* Table of Contents

:: Visibility
:: Alerts
:: Labels
:: Tooltips
:: Panels
:: Accordion
:: Side Nav
:: Sub Nav
:: Pagination
:: Breadcrumbs
:: Lists
:: Inline/Link Lists
:: Keystroke Chars
:: Image Thumbnails
:: Video
:: Tables
:: Microformats
:: Progress Bars
:: Pricing Tables

*/
/* Alerts ---------------------- */
div.alert-box {
  display: block;
  padding: 6px 7px 7px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #2ba6cb;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  position: relative;
}
div.alert-box.success {
  background-color: #5da423;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-box.alert {
  background-color: #c60f13;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-box.secondary {
  background-color: #e9e9e9;
  color: #505050;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}
div.alert-box a.close {
  color: #333;
  position: absolute;
  right: 4px;
  top: -1px;
  font-size: 17px;
  opacity: 0.2;
  padding: 4px;
}
div.alert-box a.close:hover, div.alert-box a.close:focus {
  opacity: 0.4;
}

/* Labels ---------------------- */
.label {
  padding: 1px 4px 2px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline;
  position: relative;
  bottom: 1px;
  color: #fff;
  background: #2ba6cb;
}
.label.radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.label.round {
  padding: 1px 7px 2px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}
.label.alert {
  background-color: #c60f13;
}
.label.success {
  background-color: #5da423;
}
.label.secondary {
  background-color: #e9e9e9;
  color: #505050;
}

/* Tooltips ---------------------- */
.has-tip {
  border-bottom: dotted 1px #cccccc;
  cursor: help;
  font-weight: bold;
  color: #333333;
}
.has-tip:hover, .has-tip:focus {
  border-bottom: dotted 1px #196177;
  color: #2ba6cb;
}
.has-tip.tip-left, .has-tip.tip-right {
  float: none !important;
}

.tooltip {
  display: none;
  background: black;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  z-index: 999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  line-height: normal;
}
.tooltip > .nub {
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: transparent transparent black transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
  position: absolute;
  top: -10px;
  left: 10px;
}
.tooltip.tip-override > .nub {
  border-color: transparent transparent black transparent !important;
  border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent !important;
  top: -10px !important;
}
.tooltip.tip-top > .nub, .tooltip.tip-centered-top > .nub {
  border-color: black transparent transparent transparent;
  border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
  top: auto;
  bottom: -10px;
}
.tooltip.tip-left, .tooltip.tip-right {
  float: none !important;
}
.tooltip.tip-left > .nub {
  border-color: transparent transparent transparent black;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.85);
  right: -10px;
  left: auto;
}
.tooltip.tip-right > .nub {
  border-color: transparent black transparent transparent;
  border-color: transparent rgba(0, 0, 0, 0.85) transparent transparent;
  right: auto;
  left: -10px;
}
.tooltip.noradius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.tooltip.opened {
  color: #2ba6cb !important;
  border-bottom: dotted 1px #196177 !important;
}

.tap-to-close {
  display: block;
  font-size: 10px;
  font-size: 1rem;
  color: #888888;
  font-weight: normal;
}

/* Panels ---------------------- */
.panel {
  background: #f2f2f2;
  border: solid 1px #e6e6e6;
  margin: 0 0 22px 0;
  padding: 20px;
}
.panel > :first-child {
  margin-top: 0;
}
.panel > :last-child {
  margin-bottom: 0;
}
.panel.callout {
  background: #2ba6cb;
  color: #fff;
  border-color: #2284a1;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
}
.panel.callout a {
  color: #fff;
}
.panel.callout .button {
  background: white;
  border: none;
  color: #2ba6cb;
  text-shadow: none;
}
.panel.callout .button:hover, .panel.callout .button:focus {
  background: rgba(255, 255, 255, 0.8);
}
.panel.radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* Accordion ---------------------- */
ul.accordion {
  margin: 0 0 22px 0;
  border-bottom: 1px solid #e9e9e9;
}
ul.accordion > li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e9e9e9;
}
ul.accordion > li > div.title {
  cursor: pointer;
  background: #f6f6f6;
  padding: 15px;
  margin: 0;
  position: relative;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  -webkit-transition: 0.15s background linear;
  -moz-transition: 0.15s background linear;
  -o-transition: 0.15s background linear;
  transition: 0.15s background linear;
}
ul.accordion > li > div.title h1, ul.accordion > li > div.title h2, ul.accordion > li > div.title h3, ul.accordion > li > div.title h4, ul.accordion > li > div.title h5 {
  margin: 0;
}
ul.accordion > li > div.title:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: transparent #9d9d9d transparent transparent;
  position: absolute;
  right: 15px;
  top: 21px;
}
ul.accordion > li .content {
  display: none;
  padding: 15px;
}
ul.accordion > li.active {
  border-top: 3px solid #2ba6cb;
}
ul.accordion > li.active .title {
  background: white;
  padding-top: 13px;
}
ul.accordion > li.active .title:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: #9d9d9d transparent transparent transparent;
}
ul.accordion > li.active .content {
  background: white;
  display: block;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

/* Side Nav ---------------------- */
ul.side-nav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 17px 0;
}
ul.side-nav li {
  display: block;
  list-style: none;
  margin: 0 0 8px 0;
}
ul.side-nav li a {
  display: block;
}
ul.side-nav li.active a {
  color: #4d4d4d;
  font-weight: bold;
}
ul.side-nav li.divider {
  border-top: 1px solid #e6e6e6;
  height: 0;
  padding: 0;
}

/* Sub Navs http://www.zurb.com/article/292/how-to-create-simple-and-effective-sub-na ---------------------- */
dl.sub-nav {
  display: block;
  width: auto;
  overflow: hidden;
  margin: -4px 0 18px;
  margin-right: 0;
  margin-left: -9px;
  padding-top: 4px;
}
dl.sub-nav dt, dl.sub-nav dd {
  float: left;
  display: inline;
  margin-left: 9px;
  margin-bottom: 10px;
}
dl.sub-nav dt {
  color: #999;
  font-weight: normal;
}
dl.sub-nav dd a {
  text-decoration: none;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}
dl.sub-nav dd.active a {
  font-weight: bold;
  background: #2ba6cb;
  color: #fff;
  padding: 3px 9px;
  cursor: default;
}

/* Pagination ---------------------- */
ul.pagination {
  display: block;
  height: 24px;
  margin-left: -5px;
}
ul.pagination li {
  float: left;
  display: block;
  height: 24px;
  color: #999;
  font-size: 16px;
  margin-left: 5px;
}
ul.pagination li a {
  display: block;
  padding: 1px 7px 1px;
  color: #555;
}
ul.pagination li:hover a, ul.pagination li a:focus {
  background: #e6e6e6;
}
ul.pagination li.unavailable a {
  cursor: default;
  color: #999;
}
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus {
  background: transparent;
}
ul.pagination li.current a {
  background: #2ba6cb;
  color: white;
  font-weight: bold;
  cursor: default;
}
ul.pagination li.current a:hover, ul.pagination li.current a:focus {
  background: #2ba6cb;
}

div.pagination-centered {
  text-align: center;
}
div.pagination-centered ul > li {
  float: none;
  display: inline-block;
}

/* Breadcrums ---------------------- */
ul.breadcrumbs {
  display: block;
  background: #f6f6f6;
  padding: 6px 10px 7px;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  margin-left: 0;
}
ul.breadcrumbs li {
  margin: 0;
  padding: 0 12px 0 0;
  float: left;
  list-style: none;
}
ul.breadcrumbs li a, ul.breadcrumbs li span {
  text-transform: uppercase;
  font-size: 11px;
  font-size: 1.1rem;
  padding-left: 12px;
}
ul.breadcrumbs li:first-child a, ul.breadcrumbs li:first-child span {
  padding-left: 0;
}
ul.breadcrumbs li:before {
  content: "/";
  color: #aaa;
}
ul.breadcrumbs li:first-child:before {
  content: " ";
}
ul.breadcrumbs li.current a {
  cursor: default;
  color: #333;
}
ul.breadcrumbs li:hover a, ul.breadcrumbs li a:focus {
  text-decoration: underline;
}
ul.breadcrumbs li.current:hover a, ul.breadcrumbs li.current a:focus {
  text-decoration: none;
}
ul.breadcrumbs li.unavailable a {
  color: #999;
}
ul.breadcrumbs li.unavailable:hover a, ul.breadcrumbs li.unavailable a:focus {
  text-decoration: none;
  color: #999;
  cursor: default;
}

/* Inline Link List */
ul.inline-list, ul.link-list {
  margin: 0 0 17px -22px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
ul.inline-list > li, ul.link-list > li {
  list-style: none;
  float: left;
  margin-left: 22px;
  display: block;
}
ul.inline-list > li > *, ul.link-list > li > * {
  display: block;
}

/* Keytroke Characters ---------------------- */
.keystroke, kbd {
  font-family: "Consolas", "Menlo", "Courier", monospace;
  font-size: 15px;
  padding: 2px 4px 0px;
  margin: 0;
  background: #ededed;
  border: solid 1px #dbdbdb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* Image Thumbnails ---------------------- */
.th {
  display: block;
}
.th img {
  display: block;
  border: solid 4px white;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
.th:hover img, .th:focus img {
  -webkit-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
  -moz-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
  box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
}

/* Video - Mad props to http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/ ---------------------- */
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Tables ---------------------- */
table {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 18px;
  border: 1px solid #dddddd;
}

table thead, table tfoot {
  background: #f5f5f5;
}

table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  display: table-cell;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

table thead tr th,
table tfoot tr td {
  padding: 8px 10px 9px;
  font-size: 16px;
  font-weight: bold;
  color: #222;
}

table thead tr th:first-child, table tfoot tr td:first-child {
  border-left: none;
}

table thead tr th:last-child, table tfoot tr td:last-child {
  border-right: none;
}

table tbody tr.even,
table tbody tr.alt {
  background: #f9f9f9;
}

table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

table tbody tr td {
  color: #333;
  padding: 9px 10px;
  vertical-align: top;
  border: none;
}

/* Microformats ---------------------- */
ul.vcard {
  display: inline-block;
  margin: 0 0 12px 0;
  border: 1px solid #dddddd;
  padding: 10px;
}
ul.vcard li {
  margin: 0;
  display: block;
}
ul.vcard li.fn {
  font-weight: bold;
  font-size: 17px;
}

p.vevent span.summary {
  font-weight: bold;
}
p.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 1px;
}

/* Progress Bar ---------------------- */
div.progress {
  padding: 2px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  height: 25px;
  /* meter */
  /* border radii */
}
div.progress .meter {
  background: #2ba6cb;
  height: 100%;
  display: block;
  width: 50%;
}
div.progress.secondary .meter {
  background: #e9e9e9;
}
div.progress.success .meter {
  background: #5da423;
}
div.progress.alert .meter {
  background: #c60f13;
}
div.progress.radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
div.progress.radius .meter {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
div.progress.round {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}
div.progress.round .meter {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}

/* Pricing Tables ---------------------- */
.pricing-table {
  border: solid 1px #dddddd;
  margin-left: 0;
  margin-bottom: 20px;
}
.pricing-table * {
  list-style: none;
  line-height: 1;
}
.pricing-table .title {
  background-color: #dddddd;
  padding: 15px 20px;
  text-align: center;
  color: #333333;
  font-weight: bold;
  font-size: 16px;
}
.pricing-table .price {
  background-color: #eeeeee;
  padding: 15px 20px;
  text-align: center;
  color: #333333;
  font-weight: normal;
  font-size: 20px;
}
.pricing-table .description {
  background-color: white;
  padding: 15px;
  text-align: center;
  color: #777777;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  border-bottom: dotted 1px #dddddd;
}
.pricing-table .bullet-item {
  background-color: white;
  padding: 15px;
  text-align: center;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  border-bottom: dotted 1px #dddddd;
}
.pricing-table .cta-button {
  background-color: whitesmoke;
  text-align: center;
  padding: 20px;
}

/*
  Foundation Top Bar

  Requires:
    -jquery.foundation.topbar.js

  Notes:
    - <nav class="top-bar"> can have .fixed added to make it stick to the top of viewport. Can add .contain-to-grid to top-bar to make it full width but content on grid.
    - <li class="name"> creates a branding area that can be linked to homepage
      - Can include text, image or both inside this <li>.
    - <li class="divider"> creates a divider between nav items, add margins for space
    - <li class="search"> Needs to hold a <form> which can use .row.collapse and pre/postfix buttons or default type="search"
*/
/* Element that controls breakpoint, no need to change this ever */
.top-bar-js-breakpoint {
  width: 940px !important;
  visibility: hidden;
}

/* Wrapped around .top-bar to contain to grid width */
.contain-to-grid {
  width: 100%;
  background: #222222;
}

/* Wrapped around .top-bar to make it fixed at the top */
.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}

/* Add .sticky class for using top bar as a sticky navigation when scrolling passed it. Add the class .sticky to a top bar using .contain-to-grid but leave off .fixed, javascript will take care of that */
.sticky {
  float: left;
  overflow: hidden;
}
.sticky.fixed {
  float: none;
}

/* <nav> */
.top-bar {
  background: #222222;
  min-height: 45px;
  line-height: 45px;
  margin: 0 0 30px 0;
  padding: 0;
  width: 100%;
  position: relative;
  /* Contain width to .row width */
  /* First <ul> for branding, title, name, etc */
  /* topbar global <ul> styles */
}
.contain-to-grid .top-bar {
  max-width: 1000px;
  margin: 0 auto;
}
.top-bar > ul .name h1 {
  line-height: 45px;
  margin: 0;
}
.top-bar > ul .name h1 a {
  font-weight: bold;
  padding: 0 22.5px;
  font-size: 17px !important;
}
.top-bar > ul .name img {
  margin-top: -5px;
  vertical-align: middle;
}
.top-bar.expanded {
  height: inherit;
}
.top-bar ul {
  margin-left: 0;
  display: inline;
  height: 45px;
  line-height: 45px;
  list-style: none;
  /* Main Navigation links style */
  /* Left Side <ul> */
  /* Right Side <ul> */
}
.top-bar ul > li {
  float: left;
  /* Dividers between navigation */
  /* Put a button in an <li> but give is a class */
  /* Put a search bar or text input in the bar */
  /* Put login bar in the top bar */
  /* Hide the triangle for breakpoint menu */
  /* li.has-dropdown */
}
.top-bar ul > li a:not(.button) {
  color: white;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}
.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active, .top-bar ul > li:not(.name):focus {
  background: black;
}
.top-bar ul > li:not(.name):hover a, .top-bar ul > li:not(.name).active a, .top-bar ul > li:not(.name):focus a {
  color: #d9d9d9;
}
.top-bar ul > li.divider {
  background: black;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
  height: 100%;
  margin-right: 1px;
  width: 1px;
}
.top-bar ul > li.has-button a.button {
  margin: 0 11.25px;
}
.top-bar ul > li.has-button:hover, .top-bar ul > li.has-button:focus {
  background: #222222;
}
.top-bar ul > li.has-button:hover a, .top-bar ul > li.has-button:focus a {
  color: #fff;
}
.top-bar ul > li.search {
  padding: 0 15px;
}
.top-bar ul > li.search form {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  width: 200px;
}
.top-bar ul > li.search form input[type=text] {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  float: left;
  font-size: 15px;
  margin-top: -1px;
  height: 22.5px;
  margin-bottom: 0;
  width: 130px;
}
.top-bar ul > li.search form input[type=text] + .button {
  border-left: none;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  float: left;
  font-size: 14px;
  margin-top: -1px;
  padding: 5px 12px 4px;
}
.top-bar ul > li.search form input[type=search] {
  font-size: 16px;
  margin-bottom: 0;
}
.top-bar ul > li.search:hover, .top-bar ul > li.search:focus {
  background: #222222;
}
.top-bar ul > li.login {
  padding: 0 15px;
}
.top-bar ul > li.login form {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  width: 300px;
}
.top-bar ul > li.login form input {
  float: left;
  width: auto;
  font-size: 15px;
  margin-top: -1px;
  height: 22.5px;
  margin-bottom: 0;
}
.top-bar ul > li.login form input[type=text] {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 120px;
}
.top-bar ul > li.login form input[type=password] {
  margin-bottom: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 120px;
}
.top-bar ul > li.login form input[type=password] + .button {
  border-left: none;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  float: left;
  font-size: 14px;
  margin-top: -1px;
  padding: 5px 12px 4px;
  width: 60px;
}
.top-bar ul > li.login:hover, .top-bar ul > li.login:focus {
  background: #222222;
}
.top-bar ul > li.toggle-topbar {
  display: none;
}
.top-bar ul > li.has-dropdown {
  position: relative;
  /* Dropdown Level 2+ */
}
.top-bar ul > li.has-dropdown:hover > .dropdown, .top-bar ul > li.has-dropdown:focus > .dropdown {
  display: block;
  visibility: visible;
}
.top-bar ul > li.has-dropdown a {
  padding-right: 33.75px;
}
.top-bar ul > li.has-dropdown a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: white transparent transparent transparent;
  margin-right: 15px;
  margin-top: -2.5px;
  position: absolute;
  right: 0;
  top: 50%;
}
.top-bar ul > li.has-dropdown .dropdown {
  background: #222222;
  left: 0;
  margin: 0;
  padding: 9px 0 0 0;
  position: absolute;
  visibility: hidden;
  z-index: 99;
}
.top-bar ul > li.has-dropdown .dropdown li {
  background: #222222;
  line-height: 1;
  min-width: 100%;
  padding-bottom: 5px;
}
.top-bar ul > li.has-dropdown .dropdown li a {
  color: white;
  font-weight: normal;
  height: 100%;
  line-height: 1;
  padding: 5px 17px 5px 15px;
  white-space: nowrap;
}
.top-bar ul > li.has-dropdown .dropdown li a:after {
  border: none;
}
.top-bar ul > li.has-dropdown .dropdown li a:hover, .top-bar ul > li.has-dropdown .dropdown li a:focus {
  background: #3c3c3c;
}
.top-bar ul > li.has-dropdown .dropdown li label {
  color: #6f6f6f;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding-left: 15px;
  text-transform: uppercase;
}
.top-bar ul > li.has-dropdown .dropdown li.divider {
  border-top: solid 1px black;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  height: 10px;
  padding: 0;
  width: 100%;
}
.top-bar ul > li.has-dropdown .dropdown li:last-child {
  padding-bottom: 10px;
}
.top-bar ul > li.has-dropdown .dropdown li.active a {
  background: black;
}
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown > a {
  padding-right: 30px;
}
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown > a:after {
  border: none;
  content: "\00bb";
  right: 5px;
  top: 6px;
}
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown .dropdown {
  position: absolute;
  left: 100%;
  top: 0;
}
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown:hover > .dropdown, .top-bar ul > li.has-dropdown .dropdown li.has-dropdown:focus > .dropdown {
  display: block;
}
.top-bar ul.left {
  float: left;
  width: auto;
  margin-bottom: 0;
}
.top-bar ul.right {
  float: right;
  width: auto;
  margin-bottom: 0;
  /* Dropdown Right Side Alignment */
}
.top-bar ul.right .has-dropdown .dropdown {
  left: auto;
  right: 0px;
}
.top-bar ul.right .has-dropdown .dropdown li.has-dropdown > .dropdown {
  right: 100%;
  left: auto;
  width: 100%;
}
.top-bar .js-generated {
  display: none;
}

/* Firefox Fixes */
@-moz-document url-prefix() {
  .top-bar ul li .button.small {
    padding-bottom: 6px;
  }

  .top-bar ul li.search form input[type=search] {
    font-size: 14px;
    height: 22px;
    padding: 3px;
  }
}

/* IE8 Fixes */
.lt-ie9 .top-bar ul li a {
  color: white;
  display: block;
  font-weight: bold;
  font-size: 13px;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}
.lt-ie9 .top-bar ul li a.button {
  height: auto;
  line-height: 30px;
  margin-top: 7px;
}
.lt-ie9 .top-bar ul li a img {
  margin-top: -5px;
  vertical-align: middle;
}

.lt-ie9 .top-bar section > ul > li a:hover, .lt-ie9 .top-bar section > ul > li a:focus {
  color: #cccccc;
}
.lt-ie9 .top-bar section > ul > li:hover, .lt-ie9 .top-bar section > ul > li:focus {
  background: black;
}
.lt-ie9 .top-bar section > ul > li.search:hover, .lt-ie9 .top-bar section > ul > li.search:focus, .lt-ie9 .top-bar section > ul > li.has-button:hover, .lt-ie9 .top-bar section > ul > li.has-button:focus {
  background: none;
}
.lt-ie9 .top-bar section > ul > li.active {
  background: black;
  color: #d9d9d9;
}

.lt-ie9 .top-bar ul li.has-dropdown {
  padding-right: 33.75px;
}
.lt-ie9 .top-bar ul li.has-dropdown > ul li {
  padding-right: 0;
}

.nav-bar {
  height: 40px;
  background: #4d4d4d;
  margin-left: 0;
  margin-top: 20px;
  padding: 0;
}
.nav-bar > li {
  float: left;
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid #333333;
  border-right: none;
  line-height: 38px;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
}
.nav-bar > li:first-child {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.nav-bar > li:last-child {
  border-right: solid 1px #333333;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
}
.nav-bar > li.active {
  background: #2ba6cb;
  border-color: #2284a1;
}
.nav-bar > li.active > a {
  color: white;
  cursor: default;
}
.nav-bar > li.active:hover {
  background: #2ba6cb;
  cursor: default;
}
.nav-bar > li:hover {
  background: #333333;
}
.nav-bar > li > a {
  color: #e6e6e6;
}
.nav-bar > li ul {
  margin-bottom: 0;
}
.nav-bar > li .flyout {
  display: none;
}
.nav-bar > li.has-flyout > a:first-child {
  padding-right: 40px;
  position: relative;
}
.nav-bar > li.has-flyout > a:first-child:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 4px;
  border-color: #e6e6e6 transparent transparent transparent;
  position: absolute;
  right: 20px;
  top: 17px;
}
.nav-bar > li.has-flyout > a.flyout-toggle {
  border-left: 0 !important;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  z-index: 2;
  display: block;
}
.nav-bar > li.has-flyout.is-touch > a:first-child {
  padding-right: 55px;
}
.nav-bar > li.has-flyout.is-touch > a.flyout-toggle {
  border-left: 1px dashed #666666;
}
.nav-bar > li > a:first-child {
  position: relative;
  padding: 0 20px;
  display: block;
  text-decoration: none;
  font-size: 16px;
}
.nav-bar > li > input {
  margin: 0 10px;
}
.nav-bar.vertical {
  height: auto;
  margin-top: 0;
}
.nav-bar.vertical > li {
  float: none;
  border-bottom: none;
  border-right: solid 1px #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav-bar.vertical > li.has-flyout > a:first-child:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 4px;
  border-color: transparent transparent transparent #e6e6e6;
}
.nav-bar.vertical > li .flyout {
  left: 100%;
  top: -1px;
}
.nav-bar.vertical > li .flyout.right {
  left: auto;
  right: 100%;
}
.nav-bar.vertical > li.active {
  border-right: solid 1px #2284a1;
}
.nav-bar.vertical > li:last-child {
  border-bottom: solid 1px #333333;
}

.flyout {
  background: #f2f2f2;
  padding: 20px;
  margin: 0;
  border: 1px solid #d9d9d9;
  position: absolute;
  top: 39px;
  left: -1px;
  width: 250px;
  z-index: 40;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  /* remove margin on any first-child element */
  /* remove margin on last element */
}
.flyout p {
  line-height: 1.2;
  font-size: 15px;
}
.flyout *:first-child {
  margin-top: 0;
}
.flyout *:last-child {
  margin-bottom: 0;
}
.flyout.small {
  width: 166.66667px;
}
.flyout.large {
  width: 437.5px;
}
.flyout.right {
  left: auto;
  right: -2px;
}
.flyout.left {
  right: auto;
  left: -2px;
}
.flyout.up {
  top: auto;
  bottom: 39px;
}

ul.flyout, .nav-bar li ul {
  padding: 0;
  list-style: none;
}
ul.flyout li, .nav-bar li ul li {
  border-left: solid 3px #cccccc;
}
ul.flyout li a, .nav-bar li ul li a {
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  border-width: 1px 1px 0 0;
  color: #555;
  display: block;
  font-size: 16px;
  height: auto;
  line-height: 1;
  padding: 15px 20px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
ul.flyout li a:hover, ul.flyout li a:focus, .nav-bar li ul li a:hover, .nav-bar li ul li a:focus {
  background: #ebebeb;
  color: #333;
}
ul.flyout li.active, .nav-bar li ul li.active {
  margin-top: 0;
  border-top: 1px solid #4d4d4d;
  border-left: 4px solid #1a1a1a;
}
ul.flyout li.active a, .nav-bar li ul li.active a {
  background: #4d4d4d;
  border: none;
  color: #fff;
  height: auto;
  margin: 0;
  position: static;
  top: 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

/* font-face */
@font-face {
  font-family: "GeneralFoundicons";
  src: url("../fonts/general_foundicons.eot");
  src: url("../fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_foundicons.woff") format("woff"), url("../fonts/general_foundicons.ttf") format("truetype"), url("../fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.foundicon-settings:before {
  content: "\f000";
}

.foundicon-heart:before {
  content: "\f001";
}

.foundicon-star:before {
  content: "\f002";
}

.foundicon-plus:before {
  content: "\f003";
}

.foundicon-minus:before {
  content: "\f004";
}

.foundicon-checkmark:before {
  content: "\f005";
}

.foundicon-remove:before {
  content: "\f006";
}

.foundicon-mail:before {
  content: "\f007";
}

.foundicon-calendar:before {
  content: "\f008";
}

.foundicon-page:before {
  content: "\f009";
}

.foundicon-tools:before {
  content: "\f00a";
}

.foundicon-globe:before {
  content: "\f00b";
}

.foundicon-home:before {
  content: "\f00c";
}

.foundicon-quote:before {
  content: "\f00d";
}

.foundicon-people:before {
  content: "\f00e";
}

.foundicon-monitor:before {
  content: "\f00f";
}

.foundicon-laptop:before {
  content: "\f010";
}

.foundicon-phone:before {
  content: "\f011";
}

.foundicon-cloud:before {
  content: "\f012";
}

.foundicon-error:before {
  content: "\f013";
}

.foundicon-right-arrow:before {
  content: "\f014";
}

.foundicon-left-arrow:before {
  content: "\f015";
}

.foundicon-up-arrow:before {
  content: "\f016";
}

.foundicon-down-arrow:before {
  content: "\f017";
}

.foundicon-trash:before {
  content: "\f018";
}

.foundicon-add-doc:before {
  content: "\f019";
}

.foundicon-edit:before {
  content: "\f01a";
}

.foundicon-lock:before {
  content: "\f01b";
}

.foundicon-unlock:before {
  content: "\f01c";
}

.foundicon-refresh:before {
  content: "\f01d";
}

.foundicon-paper-clip:before {
  content: "\f01e";
}

.foundicon-video:before {
  content: "\f01f";
}

.foundicon-photo:before {
  content: "\f020";
}

.foundicon-graph:before {
  content: "\f021";
}

.foundicon-idea:before {
  content: "\f022";
}

.foundicon-mic:before {
  content: "\f023";
}

.foundicon-cart:before {
  content: "\f024";
}

.foundicon-address-book:before {
  content: "\f025";
}

.foundicon-compass:before {
  content: "\f026";
}

.foundicon-flag:before {
  content: "\f027";
}

.foundicon-location:before {
  content: "\f028";
}

.foundicon-clock:before {
  content: "\f029";
}

.foundicon-folder:before {
  content: "\f02a";
}

.foundicon-inbox:before {
  content: "\f02b";
}

.foundicon-website:before {
  content: "\f02c";
}

.foundicon-smiley:before {
  content: "\f02d";
}

.foundicon-search:before {
  content: "\f02e";
}

/* NISP specific styles */
.foundicon-left-arrow,
.foundicon-right-arrow,
.foundicon-up-arrow,
.foundicon-home {
  font-size: 1.6em;
}

/* Generic styles */
ul, ol {
  list-style-position: outside;
  list-style-type: square;
  margin-left: 3em;
}

dt {
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

dd {
  margin: 0px;
  margin-left: 2em;
  padding-top: 0px;
  padding-bottom: 1em;
}

body {
  font-family: "liberation sans", "Myriad ", "Bitstream Vera Sans", "Lucida Grande", "Luxi Sans", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
}

.book .titlepage {
  text-align: center;
}

.book-subtitle div, .corpauthor div {
  font-size: 34px;
  color: #005a9c;
  font-weight: bold;
  padding-bottom: 2em;
}

.toc {
  padding-top: 1.5em;
}
.toc a, .toc a:link, .toc a:visited {
  text-decoration: none;
  color: #0A84C1;
  font-weight: bold;
}

.toc li {
  list-style-type: none;
}

.toc .sect1 {
  padding-bottom: 20px;
}

header {
  border-top: 5px solid #0a84c1;
  height: 180px;
  background: white url(../images/nisp-banner.jpg) no-repeat 25%;
}
header .row {
  width: 100%;
}
header .columns {
  padding: 0;
}

#bottomhead {
  color: white;
  font-size: 3em;
  padding: 10px 30px 0;
  text-align: right;
}

.nav-container {
  width: 100%;
}
.nav-container .columns {
  padding: 0;
}

.navheader table, .navfooter table {
  border: 0;
}
.navheader td[align="left"], .navfooter td[align="left"] {
  text-align: left;
}
.navheader td[align="center"], .navfooter td[align="center"] {
  text-align: center;
}
.navheader td[align="right"], .navfooter td[align="right"] {
  text-align: right;
}

.top-bar section ul li.active a {
  background-color: #464646;
}

.classification {
  text-align: center;
  font-variant: small-caps;
  font-size: 1.2em;
  padding-top: 20px;
}

.informalfigure {
  padding-top: 2em;
  padding-bottom: 2em;
}
.informalfigure img {
  display: block;
  margin: 0px auto;
}

.figure {
  padding-top: 2em;
  padding-bottom: 2em;
}
.figure img {
  display: block;
  margin: 0px auto;
}

.figure-title {
  padding-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: #005a9c;
}

h1, h2, h3, h4, h5, .figure-title {
  color: #005a9c;
}

footer {
  margin-top: 20px;
  padding-top: 10px;
  color: #0A84C1;
  font-weight: normal;
}
footer a:link,
footer a:visited {
  text-decoration: none;
  color: #0A84C1;
}
footer .footernav {
  border-top: 1px solid #dddddd;
  padding-top: 20px;
  text-align: center;
}
footer a:hover {
  text-decoration: underline;
}
footer .copyright {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #0A84C1;
  text-align: right;
}

#acronyms table {
  width: 100%;
}
#acronyms .sub-nav {
  padding-top: 20px;
}
#acronyms dd {
  padding: 2px 4px;
}
#acronyms dd[class='active'] {
  color: white;
  background-color: #005a9c;
}
